#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 50%;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a, 
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #212431;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: i8px;
  transition: 0.3s;
  font-size: 15px;
  text-decoration: none;
}

.nav-icon {
  font-size: 22px;
  color: #6f7180;
  margin-right: 10px;
  transition: .3s;
}

.nav-menu a:hover, 
.nav-menu .active > a, 
.nav-menu li:hover > a {
  color: #fff;
}

.nav-menu a:hover .nav-icon,
.nav-menu li:hover .nav-icon,
.nav-menu .active .nav-icon {
  color: #149ddd;
}

/* Mobile Navigation Toggle Button */
.mobile-nav-toggle {
  display: none;
}

/* Responsive Styles for Mobile & Tablets */
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  
  #main {
    margin-left: 0;
  }

  .mobile-nav-toggle {
    display: flex !important;
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 9999 !important;
    background-color: #0563bb !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 20px !important;
    cursor: pointer !important;
    outline: none !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .mobile-nav-toggle svg {
    color: #fff !important;
    font-size: 20px !important;
  }

  #header.header-active {
    left: 0;
  }
}